<!DOCTYPE html>
<html>
  <head>
    <title><%= user.login %>'s Profile</title>
  </head>
  <body>
    <div>
      <h1><%= user.login %>'s Profile</h1>
    </div>
    <div>
      <h3>Transactions</h3>
    </div>
    <div>
      <% if (user.transactions && user.transactions.length > 0) { %>
      <table>
        <thead>
          <tr>
            <td>Id</td>
            <td>Account number</td>
            <td>Money amount</td>
            <td>Comments</td>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < user.transactions.length; i++) { %>
          <tr>
            <td><%= user.transactions[i].id %></td>
            <td><%= user.transactions[i].accountNumber %></td>
            <td><%= user.transactions[i].moneyAmount %></td>
            <td><%= user.transactions[i].comment %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
